
.project
**/*.class
**/src/value/key.js
**/API/parser.py
**/API/package-lock.json
**/API/temp.json
**/.vscode/
**/Pods
**/xcuserdata/

WoWsInfo/index\.android\.js
**/*.zip
**/.DS_Store
**/._*
**/*.ttf

# react native
**/node_modules
